.golden_doors{
    width: 100%;
    margin: 30px 0;
}
.golden_doors h1{
    transform: translateY(40px);
    transition:1s ;
}
.golden_doors .observer{
    transform: translateY(0px);
}
.golden_doors p{
    padding-bottom: 30px;
    transform: translateY(40px);
    transition:1s ;
}
.golden_doors_m_content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.golden_doors .two_colum_con{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.golden_doors .two_colum{
    flex-basis: 49.3%;
    min-width: 300px;
    max-height: 550px;
    transform: translateY(40px);
    transition:1s ;
    border-radius: 20px;
    box-shadow: 0 0 5px;
}
.golden_doors .two_colum.observer{
    transform: translateY(0px);
}
.golden_doors .two_colum img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.golden_doors .btn_con {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: flex-end;
}
.golden_doors .btn {
    background-color: #1E3240;
    color: #ffff;
    border: none;
    padding: 5px 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}
.btn img {
    width: 30px;
    background-color: transparent;
}

@media (max-width:790px) {
    .golden_doors .two_colum{
        flex-basis: 49%;
        min-width: 250px;
    }
}

@media (max-width:690px) {
    .golden_doors .two_colum{
        flex-basis: 100%;
        min-width: 250px;
    }
    .golden_doors .btn_con{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content:center;
     }
}