.project {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 50px 0;
}
.project h1 {
    transform: translateY(40px);
    transition:1s ;
}
.project .observer{
    transform: translateY(0px);
}

.project p {
    padding-bottom: 30px;
    transform: translateY(40px);
    transition:1s ;
}

.project_m_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.two_colum_con {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.two_colum {
    flex-basis: 49.3%;
    min-width: 300px;
    height: 400px;
}

.two_colum img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project .imgL{
    transform: translateX(-50%);
    transition:1s ;
}
.imgL.observerL{
    transform: translateX(0%); 
}
.project .imgR{
    transform: translateX(50%);
    transition:1s ;
}
.imgR.observerR{
    transform: translateX(0%); 
}

.project .btn_con {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: flex-end;
}

.project .btn {
    background-color: #1E3240;
    color: #ffff;
    border: none;
    padding: 5px 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn img {
    width: 30px;
    background-color: transparent;
}

@media (max-width:790px) {
    .two_colum {
        flex-basis: 49%;
        min-width: 250px;
    }
}

@media (max-width:690px) {
    .project h1 {
        font-size: 30px;
        margin-top: 60px;
    }

    .two_colum {
        flex-basis: 100%;
        min-width: 250px;
    }

    .project .btn_con {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}