.hero_section{
    background-color:#AFD4E2 ;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.hero_content{
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
}
.hero_content .left_colum{
    flex-basis: 55%;
    min-width: 200px;
    background-color: transparent;
    transform: translateY(40px);
    transition: 1s;
}
.left_colum.observer{
    transform: translateY(0px);
}
.left_colum h2{
    font-size: 75px;
    width: 100%;
}
.left_colum .text_arrow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}
.text_arrow img{
    background-color: transparent;
    max-width: 150px;
}
.left_colum .btn_links{
    display: flex;
    align-items: center;
    gap: 30px;
    background-color: transparent;
}
.btn_links .btn_1{
   background-color: #1E3240; 
   Padding: 18px 24px 18px 24px;
   border: 1px;
   color: #FFFFFF;
   font-weight: 400;
   font-size: 14px;
   line-height: 16.8px;
}
.btn_links .btn_2{
   Padding: 18px 24px 18px 24px;
   border: 1px solid #1E3240;
   font-weight: 500;
   font-size: 14px;
   line-height: 16.8px;
   background-color: transparent;
}
.hero_content .right_colum{
    flex-basis: 40%;
    background-color: transparent;
    transform: translateX(100%);
    transition: 1s;
    min-width: 300px;
    position: relative;
}
.right_colum.observer{
    transform: translateX(0%);
}
.right_colum img{
    width: 100%;
    transform: translateX(10%);
    background-color: transparent;
    object-fit: cover;
    border-radius: 20px;
}

@media (max-width:1000px){
    .hero_content .right_colum{
        flex-basis: 50%;
    }
    .hero_content .left_colum{
        flex-basis: 50%;
    }
    .text_arrow img{
        display: none;
    }
    .right_colum img{
        width: 100%;
        min-width: 300px;
        transform: translateX(0%) translateY(0px);
        background-color: transparent;
    }
    .left_colum h2{
        font-size: 45px;
    }
    .left_colum .btn_links{
        display: flex;
        align-items: center;
        gap: 30px;
        background-color: transparent;
        justify-content: center;
    }
}

@media (max-width:700px){
    .hero_content{
        gap: 50px;
    }
    .hero_content .right_colum{
        flex-basis: 100%;
        min-width: 250px;
    }
    .right_colum img{
        width: 100%;
    }
    .hero_content .left_colum{
        flex-basis: 100%;
        text-align: center;
    }
     .text_arrow{
        align-items: center;
        flex-direction: column;
    }
    .text_arrow img{
        display: none;
    }
    .right_colum img{
        width: 100%;
        min-width: 300px;
        transform: translateX(0%) translateY(0px);
        background-color: transparent;
    }
    .left_colum h2{
        font-size: 35px;
    }
    .text_arrow img{
        display: none;
    }
    .text_arrow p{
        font-size: 20px;
        font-weight: 600;
        padding: 20px 0;
        text-align: center;
    }
    .left_colum .btn_links{
        display: flex;
        align-items: center;
        gap: 30px;
        background-color: transparent;
        justify-content: center;
    }
}

@media (max-width:500px){
    .hero_content .right_colum{
        flex-basis: 100%;
        min-width: 100px;
    }
    .right_colum img{
        width: 100%;
    }
    .hero_content .left_colum{
        flex-basis: 100%;
        text-align: center;
    }
    .text_arrow{
        align-items: center;
        flex-direction: column;
    }
    .text_arrow img{
        display: none;
    }
    .right_colum img{
        width: 100%;
        min-width: 300px;
        transform: translateX(0%) translateY(0px);
        background-color: transparent;
    }
    .left_colum h2{
        font-size: 35px;
    }
    .text_arrow{
        align-items: center;
        flex-direction: column;
    }
    .text_arrow p{
        font-size: 20px;
        font-weight: 600;
        padding: 20px 0;
        text-align: center;
    }
    .left_colum .btn_links{
        display: flex;
        align-items: center;
        gap: 30px;
        background-color: transparent;
        justify-content: center;
    }
}