.review {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 30px 0;
}
.review h1{
    padding-bottom: 20px;
    padding-top: 50px;
    text-align: center;
}
.review p{
    padding-bottom: 20px;
    text-align: center;
}
.main_content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.review .main_content .two_col{
    flex-basis: 48%;
    min-width: 300px;
    min-height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 5px 0 0 gray;
    border-radius: 10px;
}
.review .two_col img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 0 5px gray;
    margin-bottom: 20px;
}
 .two_col h4{
    padding-bottom: 15px;
    font-weight: bolder;
    text-align: center;
}
.two_col p{
    font-weight: bold;
    line-height: 0.5;
}
 .two_col h5{
    text-align: center;
    color: gray;
    box-shadow: 0 0 2px 0 ;
    border-radius: 10px;
    padding: 5px;
}


@media (max-width:690px) {
    .review .main_content .two_col {
        flex-basis: 100%;
        min-width: 300px;
    }
}