.about {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about .left_colum {
    flex-basis: 45%;
    min-width: 300px;
    max-height: 500px; /* Ensure the container has a maximum height */
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 10px;
}
.about .left_colum img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.left_colum .img {
    width: 100%;
    max-height: 500px;
    transform: translateY(40px);
    transition:1s ;
}
.left_colum .observer{
    transform: translateY(0px);
}
.about .right_colum {
    flex-basis: 49%;
    min-width: 300px;
}
.right_colum h1 {
    font-size: 50px;
    transform: translateY(40px);
    transition:1s ;
}
.right_colum .observer{
    transform: translateY(0px);
}
.right_colum p {
    padding-top: 20px;
    padding-bottom: 50px;
    transform: translateY(40px);
    transition: 1s;
}

.experience_all {
    display: flex;
    flex-direction: column;
    transform: translateY(40px);
    transition: 1s;
    gap: 10px;
}
.experience_all ul{
    padding-left: 5%;
}



@media (max-width:900px) {
    .about {
        align-items: center;
    }

    .right_colum h1 {
        padding-top: 40px;
        padding-bottom: 20px;
        font-size: 30px;
    }

    .right_colum p {
        padding-top: 10px;
        padding-bottom: 30px;
    }
}

@media (max-width:690px) {
    .about .right_colum {
        flex-basis: 100%;
        min-width: 300px;
    }
    .about .left_colum {
        flex-basis: 100%;
        min-width: 300px;
    }
}