.footer{
    background-color: #1E3240; 
    width: 100%;
    padding: 80px 5%;
}
.back_top_con{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.back_top_con .img_con{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.img_con small{
    color: white;
}
.back_top_con img{
    width: 50px;
    height: 50px;
    transform: rotate(-90deg);
    cursor: pointer;
}
.footer a, .footer h2, .footer .link, .footer p{
    color: #ffffff;
    text-decoration: none;
}
.footer h2{
    margin-top: 40px;
}
.footer_content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.big_col{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 300px;
}
.big_col .content{
    display: flex;
    align-items: center;
    gap: 10px;
}
.content img{
    width: 30px;
}
.big_col .content p a{
    font-size: 14px;
}
.small_col{
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    min-width: 250px;
}
.small_col .content{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.footer .copyrighted{
    text-align: center;
    margin-top: 60px;
}

@media (max-width:690px) {
    .big_col{
        flex-basis: 100%;
        align-items: center;
    }
    .small_col{
        flex-basis: 100%;
        align-items: center;
    }
    .small_col .content{
        display: flex;
        gap: 10px;
        flex-direction: column;
        align-items: center;
    }
}
